<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit form</title>
</head>
<body>
   <h2> Edit you message:- <%= chat._id %></h2> 
   <p> 
    This chat was send from <b><%= chat.from %> </b> To  <b> <%= chat.to %></b>
   </p>

   <form method="post" action="/chats/<%= chat._id %>?_method=PUT">
<textarea name="mesg" id="" cols="25" rows="6"> <%= chat.mesg %></textarea>
<br>
<br>
<button type="submit">Edit</button>
   </form>
</body>
</html>
