<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>All Chats!</h2>
    <form method="GET" action="/chats/new">
        <button type="submit"> new chat</button>
    </form>

   <% for (let chat of chats) {%>
        <div class="chat">
            <p>From: <%= chat.from %></p>
           <div class="msg"> <p> <%= chat.mesg %></p>
        <form method="GET" action="/chats/<%= chat._id%>/edit">
            <button type="submit">Edit</button>
        </form>
        <br>
        <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
            <button type="submit">Delete</button>
        </form>

        </div>
           <p>Received by: <%= chat.to %></p>
           <hr>
            <% if (chat.create_at) { %>  <!--  this code is not work in browser -->
            <p><%= chat.create_at.toString().split(" ")[4] %></p>
            <p><%= chat.create_at.toString().split(" ").slice(0, 4).join("-") %></p>
        <% } else { %>
            <p>Created at: N/A</p>
        <% } %>
        </div>  
        <br><br>
       <% } %>
  
</body>
</html>


